In [1]:
import pandas as pd
from pathlib import Path

In [4]:
csv_file = Path("../data/extracted_book_details.csv")
df = pd.read_csv(csv_file)
df.head()

                                       Title               UPC    Price
0                      Shakespeare's Sonnets  30a7f60cd76ca58c  Â£20.66
1  Shoe Dog: A Memoir by the Creator of NIKE  0e0dcc3339602b28  Â£23.99
2      Sapiens: A Brief History of Humankind  4165285e1663650f  Â£54.23
3                       A Light in the Attic  a897fe39b1053632  Â£51.77
4                             Sophie's World  6be3beb0793a53e7  Â£15.94